.top-nav-bar{ 
    position: fixed;
    left: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #1f2128e0;
    width: -webkit-fill-available;
    .top-nav-bar-logo{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-color: #0d82ec;
    }
    input{
        width: 450px;
        height: 60px;
        border-radius: 40px;
        background-color: #292b31;
        color: #fff;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 0 40px;
    }
    .search-icon{
        display: none;
        svg{
          font-size: 40px;  
        }
        color: #fff;
        cursor: pointer;
    }
}

@media screen and (max-width: 780px){
    .top-nav-bar{
        justify-content: flex-end;
        .top-nav-bar-logo{
            display: none;
        }
        input{
            display: none;
        }
        .search-icon{
            display: block;
        }
    }
}