.page{
    position: fixed;
    left: 128px;
    padding: 0 30px;
    box-sizing: border-box;
    width: -webkit-fill-available;
    overflow: overlay;
    height: 100vh;
    .home-hero-banner{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        width: 100%;
        height: 450px;
        .top-games-container{
            display: flex;
            justify-content: space-between;
            width: 69.2%;
            height: 100%;
            .top-games-img-container{
                width: 65.2%;
                height: 100%;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;
                background-size: cover;
                background-position: center;
                color: #fff;
                .top-games-img{
                    padding: 20px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, rgba(0, 0, 0, 0.9) 100%);
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                    display: flex;
                    align-items: flex-end;
                    .top-games-img-contents{
                        width: 100%;
                        height: 40%;
                    }
                    .top-games-img-title{
                        margin: 0;
                        font-size: 30px;
                        font-weight: 600;
                    }
                    span{
                        font-size: 18px;
                        color: rgb(231, 231, 231);
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                    @media screen and (max-width: 830px) {
                        .top-games-img-contents{
                            display: flex;
                            align-items: flex-end;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
            .top-games-choose-container{
                width: 34.2%;
                height: 100%;
                background-color: #292b31;
                color: #fff;
                .top-games-choose{
                    width: 100%;
                    height: 20%;
                    border-bottom: 1px solid #fff;
                    cursor: pointer;
                    div{
                        width: 100%;
                        height: 100%; 
                        padding: 0 20px;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        transition: 0.5s ease-in-out;
                    }
                    div:hover{
                        padding: 0px 12px;
                    }
                }
            }
        }
        .new-old-games-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 29.2%;
            height: 100%;
            .new-old-games{
                width: 100%;
                height: 35%;
                background-size: cover;
                border-radius: 20px;
                cursor: pointer;
                div{
                    width: 100%;
                    height: 100%;
                    background-color: #0000004e;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    padding: 0 30px;
                    box-sizing: border-box;
                    color: white;
                    font-size: 25px;
                    font-weight: 500;
                    transition: 0.5s ease-in-out;
                }
                div:hover{
                    padding: 0 20px;
                }
            }
        }
    }
    .home-category-container{
        display: flex;
        margin: 50px 0px;
        width: 100%;
        .home-category{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .home-all-category{
            width: 10%;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            svg{
                font-size: 50px;
                color: #fff;
                cursor: pointer;
                transition: 0.5s ease-in-out;
            }
            svg:hover{
                font-size: 60px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .page{
        .home-hero-banner{
            .top-games-container{
                width: 100%;
            }
            .new-old-games-container{
                display: none;
            }
            
        }
    }
}

@media screen and (max-width: 650px) {
    .page{
        .home-hero-banner{
            display: none;
        }
    }
}